@include mediaXL {
}

@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }

  main {
  }
}

@include mediaMed {
  main {
    text-align: center;
    grid-template-areas:
      "img img"
      "lg lg"
      "sm sm"
      "icons icons"
      "rec rec"
      "job1 job2"
      "job3 job4";
    grid-template-columns: repeat(2, 1fr);

    .lg-heading {
      line-height: 1;
      margin-bottom: 1 rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 65vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 20px;
  }

  .menu-branding {
    height: 35vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url(../../images/portrait-sm.png);
      border-radius: 150px;
      width: 150px;
      height: 150px;
      align-items: center;
    }
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mediaSm {
  .projects {
    grid-template-columns: 1fr;
  }

  main {
    grid-template-areas:
      "img"
      "lg"
      "sm"
      "icons"
      "rec"
      "job1"
      "job2"
      "job3"
      "job4";
    grid-template-columns: repeat(1, 1fr);
  }
}
